# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# development
.env

# tauri
packages/app/src-tauri/target
packages/app/src-tauri/gen/schemas
packages/app/src-tauri/binaries/*

# server
packages/server/prisma/src/prisma
packages/server/dev.db
packages/server/prisma/migrations
packages/server/.mastra
packages/server/src/mastra/mastra.db*